body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 25px;
}
.wrap > div {
  display: flex;
  justify-content: space-evenly;
}
.view__heading {
  font-size: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.panel {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  max-width: min-content;
  /* align-content: baseline; */
  border: 1px solid;
  box-shadow: 0px 4px 9px 1px;
  padding: 15px;
  margin: 15px;
}
.panel .panel__heading {
  width: 100%;
  text-align: center;
  font-size: 25px;
  padding-bottom: 20px;
}

.panel .panel__item {
  display: flex;
  padding: 5px 0;
  width: 100%;
  max-width: fit-content;
}

.panel  .panel__value.panel__value--heading {
  font-weight: 700;
  text-align: left;
  font-size: 13px;
}
.panel .panel__item .panel__value:first-child {
  text-align: left;
}

.panel__item > div {
  width: 200px;
}

.wrap > div {
  flex-wrap: wrap;
  margin: 15px;
}

.filter-criteria > div {
  margin: 0 20px;
}
.filter-criteria {
  display: flex;
  justify-content: center;
}
.btn {
  cursor: pointer;
  border: 1px solid;
  padding: 0 12px;
  line-height: 25px;
  font-size: 14px;
}
.btn:hover {
  background-color: #fff;
  color: #191919;
}
.container {
  background: #32373a;
}
p,div {
  color: #fff;
}
.DayPickerInput div {
  color: #191919;
}
input {
  text-align: center;
  background-color: #191919;
  color: #fff;
  border: 1px solid;
  padding: 6px;
  font-weight: 600;
}
.panel.panel--borders .panel__item {
  border-top: 1px solid;
}
.panel.panel--borders {
  padding: 0;
}
.panel.panel--borders .panel__item {
  border-top: 1px solid;
  padding: 6px 12px;
}

.loading {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2784313725490196);
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./images/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
}

.panel__table {
  padding-bottom: 50px;
}
.wrapper {
  display: flex;
  padding-top: 30px;
  justify-content: center;
}

.section {
  display: flex;
}

div#canvasjs-react-chart-container-0 {
  margin-top: auto;
}